nav#main-menu {
    display: flex;
    justify-content: center;
    position: fixed;

    background-color: transparent;

    width: 100%;

    z-index: 1;

    font-family: 'Cairo', Tahoma, sans-serif;
    font-size: 18px;

    height: var(--navbar-height-top);

    transition: background-color 1s, height 1s;
}

nav#main-menu ul {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
    color: white;
}

nav#main-menu div.inner-menu {
    display: flex;
    justify-content: space-between;

    max-width: var(--pages-width);
    width: 100%;
}

nav#main-menu ul.menu-options {
    display: flex;
    justify-content: center;
}

nav#main-menu .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
    box-sizing: border-box;
    cursor: pointer;

    transition: padding 1s;

    box-sizing: border-box;
    min-width: 75px;
}

nav#main-menu.pinned .menu-button {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav#main-menu.pinned {
    background-color: var(--navbar-bg-color);
    height: var(--navbar-height-pinned);
}

nav#main-menu .mobile-button {
    display: none;
}



@media only screen and (max-width: 700px) {
    
    nav#main-menu .mobile-button {
        display: block;
        background-image: url('../images/icons/Hamburger-white.svg');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav#main-menu ul.menu-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 1;

        flex-direction: column;
        text-align: center;
    }

    nav#main-menu.mobile-open {
        background-color: var(--navbar-bg-color);
        transition: background-color 0s;
    }

    nav#main-menu.mobile-open .mobile-button {
        background-image: url('../images/icons/Multiplication_Sign-white.svg');
    }

    nav#main-menu.mobile-open ul.menu-options {
        display: flex;
        justify-content: start;
        background-color: var(--navbar-bg-color);
    }

    nav#main-menu ul.menu-options .menu-button {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: transparent;
    }
}