html, body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    
    font-size: 16px;

    font-family: 'Cairo', Tahoma, sans-serif;
    font-size: 18px;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Noto Sans', 'Roboto', Tahoma, sans-serif;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}